body, html {
    --width: 100vw;
    --height: 100vh;
    width: var(--width);
    height: var(--height);
    background-color: #f1bbf1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

}

header, main, footer {
    width: calc(var(--width) - 2em);
    max-width: calc(1200px - 2em);
    margin: 0 auto;
    background-color: grey;
}

header {
    margin-top: 0.5em;
}

.header-top, .header-banner {
    margin: 1em;
}

.header-top {
    display: grid;
    grid-template-columns: 20% calc(60% - 2em) 20%;
    gap: 1em;
    background-color: purple;
    padding: 1em;
}

.header-top * {
    background-color: white;
    padding: 0.75em;

    &.grow {
        transition: all .2s ease-in-out;

        &:hover {
            transform: scale(1.10);
            cursor: pointer;
            background-color: green;
        }
    }
}

.header-banner {
    background-color: orange;
    padding: 1em;
}

.header-banner div {
    padding: 1em;
    background-color: yellow;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 0.5em;
}

main {
    display: flex;
    flex-direction: row;
}

section {
    width: calc(80% - 1em);
    padding: 1em;
    margin: 1em 0 1em 1em;
    background-color: lightblue;

    display: grid;
    grid-template-columns: repeat(2, calc(50% - 0.5em));
    gap: 1em;
}

section div{
    background-color: blue;
    padding: 0.75em;
}

.navigation {
    grid-column: 1 / span 2;
    background-color: green;
}

aside {
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    background-color: orangered;
    width: calc(20% - 1em);
}

aside div {
    padding: 0.75em;
    background-color: whitesmoke;
}

footer div {
    padding: 0.75em;
    margin: 1em;
    background-color: purple;
}

/* tablet */
@media (max-width: 991.98px){
    body, html {
        background-color: #f8d0d0;
    }

    .header-top {
        display: flex;
        flex-direction: column;
        gap: 1em;
        background-color: purple;
        padding: 1em;
    }

    main {
        flex-direction: column;
    }

    section {
        width: calc(100% - 4em);
        margin: 1em 1em 0em 1em;
    }

    aside {
        width: calc(100% - 4em);
    }
}

/* phones */
@media (max-width: 575.98px) {
    body, html {
        background-color: #84a582;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}